<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.org.ftsl.eventplanner"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.org.ftsl.eventplanner.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.org.ftsl.eventplanner.AttendeeConfirm"
            android:label="@string/title_activity_ateendee_confirm" >
        </activity>
        <activity
            android:name="br.org.ftsl.eventplanner.Configuration"
            android:label="@string/title_activity_configuration" >
        </activity>
        <activity
            android:name="br.org.ftsl.eventplanner.LectureControl"
            android:label="@string/title_activity_lecture_control" >
        </activity>
    </application>

</manifest>
